{% extends "main/main_template.html" %}
{% load bootstrap5 %}
{% block title %}
Профиль
{% endblock title %}
{% block head %}
    {% load tags %}
{% endblock head %}
{% block content %}
<dl class="row">
    <dt class="col-sm-3">Фамилия</dt>
    <dd class="col-sm-9">{{request.user.last_name}}</dd>
  
    <dt class="col-sm-3">Имя</dt>
    <dd class="col-sm-9">{{request.user.first_name}}</dd>

    <dt class="col-sm-3">Почта</dt>
    <dd class="col-sm-9">{{request.user.email }}</dd>
</dl>
<h1>История заказов</h1>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Employee</th>
          </tr>
    </thead>
    <tbody>
      {% for order in orders %}
      <tr>
        <td>
            {{ order.date }}
        </td>
        <td>
            {{ order.employee }}
        </td>
      </tr>
      <tr>
        <td colspan="4">
            <table class="table mb-0">
                <thead>
                    <tr>
                      <th scope="col">Picture</th>
                      <th scope="col">Name</th>
                      <th scope="col">Ingridients</th>
                      <th scope="col">Count</th>
                      <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% history_dish_display order %}
                <tbody>
            </table>
        </td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %}