{% extends "main/main_template.html" %}
{% load bootstrap5 %}
{% block title %}
Отчет
{% endblock title %}
{% block head %}
    {% load tags %}
    {{ form.media }}
{% endblock head %}
{% block content %}
    <form method='get'>
        {% bootstrap_form form layout='horizontal' field_class='col-md-3' %}
        <button type='submit' class='btn btn-success col-md-1' style='margin:10px;'>Send</button>
    </form>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Count</th>
            <th scope="col">Price</th>
            <th scope="col">Total price</th>
          </tr>
        </thead>
        <tbody>
            {% for dish in table %}
                <tr>
                    <td>{{ dish.name }}</td>
                    <td>{% get_report_data table dish 'count' %}</td>
                    <td>{% get_report_data table dish 'price' %}</td>
                    <td>{% get_report_data table dish 'total' %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h1>Total:{{ total }}</h1>
{% endblock %}